.capture {
    display: grid;
    grid-template-areas:
        "header"
        "stream";
    grid-template-rows: auto minmax(0, 1fr);
    padding: 32px 64px;
    row-gap: 32px;
}

.capture_header {
    max-width: 1024px;
    width: 100%;
    justify-self: center;
    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.capture_title {
    margin: 0;
}

.stream {
    grid-area: stream;
    place-self: stretch;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stream_video {
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;

    border-radius: 8px;
}
