.download {
    display: grid;
    grid-template-areas:
        "header"
        "stream";
    grid-template-rows: auto minmax(0, 1fr);
    padding: 32px 64px;
    row-gap: 32px;
}

.download_header {
    max-width: 1024px;
    width: 100%;
    justify-self: center;
    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download_title {
    margin: 0;
}

.download_stream {
    grid-area: stream;
}
